body{
    margin: 0;
    padding: 0;
    background-image: url("./images/Fondo.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
iframe{
    flex-grow: 1;
    width: 100%;
    border: 0;    
}

.nav{
    display: flex;
    flex-wrap: wrap;
    background-color:  rgba(255, 255, 255, 0.308);
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nav h1{
    font-size: 2em;
    flex-grow: 1;
    flex-shrink: 0;
    margin: auto;
}
.nav div{
    display: flex;
    gap:1em;
    margin-right: 1em;
    margin-left: 1em;    
    justify-content: center;
    align-items: center;
}
#githubIcon{
    height:2em;
    margin-top: 15%;
    margin-bottom: 3%;
}
#linkedIcon{
    height:2.5em;
    margin-top: 15%;
    margin-bottom: 3%;
}