body{
    margin: 0;
    padding: 0;
    background-image: url("./images/Fondo.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
iframe{
    flex-grow: 1;
    width: 100%;
    border: 0;    
}

.nav{
    display: flex;
    flex-wrap: wrap;
    background-color:  rgba(255, 255, 255, 0.308);
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    font-size-adjust: 0.3;
}
nav div{
    flex-grow: 1;
    padding: 0.5em;
    justify-content: center;
    display: flex;
    gap: 1em;
}
.nav h1{
    flex-grow: 1;
   font-size: 300%;
   margin: auto;
}
#githubIcon{
    height: 2em;
}